<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <!-- header -->
  <%- include('partials/header', {title: 'Movies'}) %>
  <!-- fin header -->
  <body>
    <h1 class= "inicio"><%= title %></h1>
    <p>La base de datos de <%= title %></p>
  </body>
</html>
