<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendadas</title>
</head>
<!-- header -->
<%- include('partials/header', {title: 'Movies'}) %>
<!-- fin header -->

<body>
    <h1>Recomendadas</h1>
    <ul>
        <% movies.forEach(movie => { %>
            <li> <a href="/movies/detail/<%=movie.id%>" class= "ali">
                <%= movie.title%> <p style= "font-weight: bold;"><%= " Rating " + movie.rating%></p>
            </a>
            </li>
            
        <% }); %>
    </ul>
</body>
</html>